.hero-section {
    display: flex;
    gap: 30px;
}

.home-banner-container {
    width: 595px;
    height: 228px;
    background-image: url("/public/assets/HomeBanner.png");
    background-size: contain;
    border-radius: 21px;
}

.home-banner-inner {
    padding: 30px;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 21px;
    background-color: #6f4ff280;
}

.home-banner-header {
    width: 285px;
    height: 78px;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

.home-banner-text {
    width: 478px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.home-banner-btn-wrapper {
    display: flex;
    gap: 20px;
}

.top-nft-container {
    display: flex;
    justify-content: space-between;
    gap: 21px;
    align-items: center;
    background-color: #1d1932;
    padding: 20px;
    border-radius: 18px;
}

.top-nft-image {
    width: 249px;
    height: 187px;
    border-radius: 18px;
    object-fit: cover;
}

.top-nft-user-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.top-nft-info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    margin: 14px 0 16px 0;
}

.nft-auc,
.nft-bid {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.nft-auc-time,
.nft-bid-final {
    color: #6c7aa0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.nft-bid-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #6f4ff2;
}

.nft-btn-items {
    display: flex;
    gap: 20px;
}
