.market-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.section-filters {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.section-filter {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.filter {
    cursor: pointer;
}

.filter:hover {
    color: #6f4ff2;
    transition: 0.5s all ease-in-out;
}

.filter.active {
    padding: 3px 12px;
    border-radius: 14px;
    background-color: #6f4ff2;
    transition: 0.5s all ease-in-out;
}

.filter.active:hover {
    color: #FFFFFF;
    transition: 0.5s all ease-in-out;
}
