.container {
    display: flex;
    width: 100%;
}

.body-section {
    width: 100%;
}

.content {
    width: 100%;
    overflow-y: scroll;
    height: 80vh;
    padding: 20px 70px 0 70px;
    margin: 0 auto;
}

.content::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    margin-right: 5px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #6F4FF2A6;
    border-radius: 21rem;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #6F4FF2;
    opacity: 1;
}
